#login-midcol {
  background: url(https://im4.ezgif.com/tmp/ezgif-4-db58d106c1.webp) right bottom no-repeat, url(paper.gif) left top repeat;
  padding: 15px;
}

#login {
  background: url(https://im4.ezgif.com/tmp/ezgif-4-db58d106c1.webp) right bottom no-repeat, url(paper.gif) left top repeat;
  padding: 15px;
}
